@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html {
    margin: 0;
    height: 100%;
    user-select: none;
}

body {
    margin: 0;
    height: 100%;
    background-color: #fff
}

#app {
    height: 100%;
}

textarea {
    resize: none;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: unset !important;
}

.input-plain {
    box-shadow: unset !important;
}

.complete-view {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.side-view {
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-view {
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.player-view {
    flex: 0 1;
}

.theme-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.clickable {
    cursor: pointer;
}

.click-effect:active {
    opacity: 0.75;
}

.list-div {
    height: 48px !important;
}

.overlay {
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}

.cover {
    object-fit: cover;
    width: 100%;
}

.separator::after {
    content: "—";
}

.icon {
    width: 48px;
    height: 48px;
}

.img-post {
    object-fit: cover;
    width: 100%;
}

.square {
    aspect-ratio: 1/1 !important;
}

.progress {
    height: 0.2rem;
}

.progress-bar {
    animation: loading 1s linear reverse infinite;
    background-color: firebrick;
}

.btn-touch {
    border: 0 !important;
}

.btn-touch:active,
.btn-touch-border:active {
    color: firebrick !important;
}

.btn-touch-border {
    border: 1px solid #dee2e6 !important;
}

.img-saved {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-top-left-radius: var(--bs-border-radius) !important;
}

.p-theme {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
}

.invisible {
    visibility: hidden;
}

@keyframes loading {
    0% {
        width: 25%;
        margin-left: -25%;
    }

    100% {
        width: 25%;
        margin-left: 100%;
    }
}